%div{style: 'z-index: 100; position: fixed; bottom: 0; left: 0; width: 100%; background: white; opacity: 0.7; padding: 15px'}
  %form{action: '', method: 'get', style: 'text-align: center'}
    .item.user{style: 'display: inline; margin: 0 10px 0 10px'}
      User:
      %input{name: 'user', type: 'number', value: @tuberack_user.id }
    .item.roles{style: 'display: inline; margin: 0 10px 0 10px'}
      Roles:
      %input{name: 'role', type: 'text', value: @tuberack_user.roles }
    .item.xeditable{style: 'display: inline; margin: 0 10px 0 10px'}
      X-editable:
      %input{name: 'xeditable', type: 'checkbox', checked: @tuberack_user.xeditable }
    .item.manage{style: 'display: inline; margin: 0 10px 0 10px'}
      Manage:
      %input{name: 'manage', type: 'checkbox', checked: @tuberack_user.manage }
    .item.confirm{style: 'display: inline; margin: 0 10px 0 10px'}
      %input{name: 'commit', type: 'submit', value: 'Set user'}